{% extends 'PrixyBundle:Default:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 titre_forma">
            <h2>{{ formation.ref }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 left_position">
            <div class="objectifs_formation">
                <h3> OBJECTIFS DE LA FORMATION</h3>
                <p> {{ objectif.libelle }} </p>
            </div>
            <div class="pre_requis">
                <h3> PRE-REQUIS </h3>
                <ul>
                    {% if %}
                        {% for formation in requires %}
                            <li>{{ formation.ref }}</li>
                        {% endblock %}
                    {% endif %}
                </ul>
            </div>
            <div class="programme_details">
                <h3> PROGRAMME DETAILE </h3>
                <h5> Details formation</h5>
                <ul>
                    {% for details in details_formation %}
                        <li>{{ listCompetence.libelle }}</li>
                        <p>
                            {% for ligne in ligne_formation %}
                            {{ details_formation }}
                            {% endblock %} }}
                        </p>
                    {% else %}
                        <li>Pas de details sur la formation</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-4 right_position">
            <div class="info_forma">
                <ul class ="without_style">
                    <li>Durée : {{ formation.duree }}</li>
                    <li>Tarif : {{ formation.tarif }}</li>
                    <li>Certification:{% for formation in requires %}
                                         formation.
                                       {% endfor %}
                    </li>
                </ul>
            </div>
            <div class ="session_formation">
                <ul class="without_style">
                    {% for ListDate in  %}
                        <li> {{ sessionFormation.date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {#</div>#}



{% endblock content %}