{% extends 'PrixyBundle:Default:layout.html.twig' %}
{% block content %}
    <div id="divRecherche">
        <h4>Paramètres</h4>

        <div class="row">
            <form method="GET" action="{{ path('prixy_formations') }}">
                <fieldset>
                    <div class="form-group">
                        <select name="select" class="form-control" placeholder="Thème">
                            <option disabled selected>Thème de la formation</option>
                            {% for theme in themes %}
                                <option class="optSelect" value="{{ theme.id }}" 
                                {% if paramResearch.select %}
                                        {% if paramResearch.select == theme.id %} selected {% endif %}
                                {% endif %} >{{ theme.libelle }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nom" class="form-control" placeholder="Nom de Formation" value="{% if paramResearch.nom %}{{paramResearch.nom}}{% endif %}" ></input>
                    </div>
                    <div class="form-group form-inline">
                        <input type="number" name="prixMin" id="prixMin" placeholder="Prix Minimum" class="form-control" value="{% if paramResearch.prixMin %}{{paramResearch.prixMin}}{% endif %}"></input>
                        <input type="number" name="prixMax" id="prixMax" placeholder="Prix Maximum" class="form-control" value="{% if paramResearch.prixMax %}{{paramResearch.prixMax}}{% endif %}"></input>
                    </div>
                    <div class="form-inline">
                        <input name="certif" id="chkcertif" class="form-control" type="checkbox"{% if paramResearch.certif %} checked {% endif %}><label for="chkcertif">Certification</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Rechercher">
                        <input type="reset" class="btn btn-default" value="Remise à zero">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>




    {# RESULTATS DE LA RECHERCHE #}
    <div class="" id="resultRecherche">
        {#} DIV des liens vers chaques formations {#}
        {% for f in formations %}
            <div class="col-sm-6 col-md-4">
                <div class="results">
                    <a href="{{ path('prixy_formation', {'id': f.id}) }}" class="formation-lien">
                        <div class="formation-half col-xs-8 col-sm-8 col-md-8">
                            <h5 class="formation-title">{{ f.ref }}</h5>
                                    {% if f.certification.first %}
                                        <span class="formation-certif">{{ f.certification.first.libelle }}</span><br/>
                                        <span class="formation-certif">...</span>
                                    {% endif %}

                                <span class="formation-date">{% if f.sessionFormation.first %} Sessions disponibles {% endif %}</span>
                        </div>
                        <div class="formation-half col-xs-4 col-sm-4 col-md-4">
                            <img class="formation-logo" src="{{ asset("bundles/prixy/media/formation/"~f.id~".png")}}"></img>
                            <span class="formation-prix">{{ f.tarif }}€</span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock content %}