{% extends 'PrixyBundle:Default:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 titre_forma">
            <h2>{{ formation.ref }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 left_position">
            <div class="objectifs_formation">
                <h3> OBJECTIFS DE LA FORMATION</h3>

                {% if objectif %}
                <p> {{ objectif.libelle }} </p>
                {% else %}
                <p> Error 404, Objectif not found.  </p>
                {% endif %}

            </div>
            <div class="pre_requis">
                <h3> PRE-REQUIS </h3>
                <ul>
                    {% if requires %}
                        {% for formation in requires %}
                            <li><a href="{{ path('prixy_formation', {'id': formation.id}) }}" class="formation-lien" title="Cliquez ici pour en savoir plus">{{ formation.ref }} </a></li>
                        {% endfor %}
                {#     {% else %}
                    <li> Accessible a tous </li>#}
                    {% endif %} 
                </ul>
            </div>
            <div class="programme_details">
                <h3> PROGRAMME DETAILE </h3>
                <h5> Details formation</h5>
                <ul>
                    {% for details in detailsformation %}
                        <li>{{ details.titre }}</li>
                        <p>
                            {% for ligne in details.lignesFormations %}
                            {{ ligne.libelle}}
                            {% endfor %} 
                        </p>
                    {% else %}
                        <li>Pas de details sur la formation</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-4 right_position">
            <div class="info_forma">
                <h4>Infos</h4>
                <ul class ="without_style">
                    <li>Durée : {{ formation.duree }} heures</li>
                    <li>Tarif : {{ formation.tarif }} €</li>
                    <li>Certification:
                    {% for cert in formation.certification %}
                                         {{cert.libelle}},
                    {% else %}
                        Pas de certif
                    {% endfor %}
                        
                    
                    </li>
                </ul>
            </div>
            <div class ="session_formation">
                <h4>Sessions de formations</h4>  
                <ul class="without_style">

                   {% for session in formation.sessionFormation  %}
                        <li> {{ session.date|date('d/m/Y') }}</li>
                    
                    {% else %}
                    <li> Pas de sessions prévues pour l'instant...</li>

                    {% endfor %} 
                </ul>
            </div>
        </div>
    </div>
    {#</div>#}



{% endblock content %}