{% extends 'PrixyBundle:Default:layout.html.twig' %}
{% block content %}

    <div class="row">
        <div id="Wallpaper_display">
            <div class="wallpaper_content">
                <h1  id="nom_logo"class="center-text">Prixy</h1>
                <span id="sous_logo"class="center-text "> {{ 'index.title'|trans }} </span>
            </div>
        </div>
    </div>

    <div class="row ">
        <p>{{ 'index.content'|trans }}
        </p>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="position_profil">
                <figure>
                    <img class="img-circle img-thumbnail img_personnel" src="{{asset('bundles/prixy/media/Portrait/millot.png')}}">
                    <figcaption>
                        <span>S.Millot</span>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position_profil">
                <figure>
                    <img class="img-circle img-thumbnail img_personnel" src="{{asset('bundles/prixy/media/Portrait/schmitt.png')}}">
                    <figcaption>
                        <span>L.Schmitt</span>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position_profil">
                <figure>
                    <img class="img-circle img-thumbnail img_personnel" src="{{asset('bundles/prixy/media/Portrait/joubert.png')}}" >
                    <figcaption>
                        <span>C.Joubert</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>





{%  endblock content %}