<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Prixy</title>
	<meta charset="utf-8">
	{% stylesheets
		'@PrixyBundle/Resources/public/css/style.css'
		'@PrixyBundle/Resources/public/css/bootstrap.min.css'
		filter='cssrewrite' output='css/compiled/app.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="{{  asset('bundles/prixy/media/favicon.png')  }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a href="/prixy/" id="brand" class="navbar-brand">
					<img src="{{asset('bundles/prixy/media/logo.png')}}" id="logo" alt="Prixy logo">
				</a>
				<button type="button" id="ham-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>

			<div id="navbar" class="navbar-collapse navbar-right collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{ path('prixy_homepage') }}">Accueil</a></li>
					<li><a href="{{ path('prixy_formations') }}">Formations</a></li>
					<li><a href="{{ path('prixy_contact') }}">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="content" class="container">
	<!--ICI LE CONTENU DE LA PAGE -->
	{% block content %}

	{% endblock content %}
	</div>

	
	<!--SCRIPTS-->
	{% javascripts
		'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'
		'@PrixyBundle/Resources/public/js/bootstrap.min.js'
		'@PrixyBundle/Resources/public/js/ham-button.js'
		output='js/compiled/app.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
</body>
</html>